<ol class="breadcrumb mb-4">
  <!--<li class="breadcrumb-item active">Listagem de Pessoas</li>-->
   <li class="breadcrumb-item active">
     <div class="btn-group" role="group">
       <button class="btn btn-success btn-sm"
         routerLink="/pessoas/grupos/form">
         <i class="fa fa-user-plus"></i> Cadastrar grupo
       </button>
     </div>
   </li>
 </ol>
 <div class="container">
   <div class="row">
     <div class="col-md-12">
       <table class="table">
         <thead>
           <tr>
             <th>E/D</th>
             <th>Id</th>
             <th>Nome</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let g of lista">
             <td>
              <!-- <div class="btn-group" role="group">-->
                 <button class="btn btn-primary btn-sm" routerLink="/pessoas/grupos/form/{{ g.id }}"  placement="top" ngbTooltip="Editar">
                   <i class="fa fa-edit"></i>
                 </button>
                 <button class="btn btn-danger btn-sm" (click)="preparaDelecao(g)" data-toggle="modal"
                   data-target="#modalDelecao"  placement="top" ngbTooltip="Apagar">
                   <i class="fa fa-trash"></i>
                 </button>
             <!--  </div>-->
             </td>
             <td>{{ g.id }} </td>
             <td>{{ g.nome }}</td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
   <div id="modalDelecao" class="modal fade" role="dialog">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h4>Confirmação</h4>
         </div>

         <div class="modal-body" *ngIf="grupoSelecionado">
           Confirma a deleção do Grupo{{ grupoSelecionado.nome }}?
         </div>

         <div class="modal-footer">
           <button class="btn btn-success" (click)="deletarGrupo()" data-dismiss="modal">Confirmar</button>
           <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
         </div>
       </div>
     </div>
   </div>

 </div>
