<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ id ? 'Editando  ' : 'Cadastraando' }}</li>
  <li class="breadcrumb-item active"><a routerLink="/produtos/list">Voltar para listagem</a></li>
</ol>
<div class="container">
  <form #produtoForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row" *ngIf="produto.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [(ngModel)]="produto.id" name="id" class="form-control" disabled="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome *</label>
          <input type="text" class="form-control" [(ngModel)]="produto.nome" name="nome" />
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Descrição</label>
          <textarea type="text" class="form-control" [(ngModel)]="produto.descricao" name="descricao" cols="2" rows="5"></textarea>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Custo</label>
          <input type="text" class="form-control" currencyMask autocomplete="off"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="produto.custo" name="custo" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Venda</label>
          <input type="text" class="form-control" currencyMask autocomplete="off"
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="produto.venda" name="venda" />
        </div>
      </div>
    </div>

    <div class="row" *ngIf="id!=null">
      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro</label>
          <input type="text" class="form-control" [(ngModel)]="produto.dataCadastro" name="dataCadastro"  readonly/>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="id!=null">
      <div class="col-md-6">
        <div class="form-group">
          <label>Última Atualização</label>
          <input  type="text" class="form-control" [(ngModel)]="produto.dataAtualizacao" name="dataAtualizacao" readonly />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Operação realizada com sucesso com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="success == false">
          {{mensagemErro}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
 <!--''      <button type="submit" class="btn btn-success" *ngIf="!produto.id">
          <i class="fa fa-floppy-o"></i> Salvar
        </button>

        <button type="submit" class="btn btn-primary" *ngIf="produto.id">
          <i class="fa fa-sync-alt"></i> Atualizar
        </button>
      -->
        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-left"></i> Voltar
        </button>
      </div>

    </div>

  </form>

  <hr />
  <div class="col-md-6" *ngIf="produto.id">

    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">Impostos do produto: {{produto.nome}}</h5>
        </div>
        <table *ngIf=produto.impostos class="table">
          <tr *ngFor="let g of produto.impostos">
            <td>{{g.nome}}</td>
            <td>{{g.percentual}}%</td>
          </tr>
        </table>
        <div class="card-footer">
          <div class="btn-group" role="group">
            <button class="btn btn-warning btn-sm" routerLink="/produtos/{{ produto.id }}/{{produto.nome}}/impostos-list">
              <i class="fa fa-edit"></i>Editar impostos
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
