<ol class="breadcrumb mb-4">

  <li class="breadcrumb-item active">
    <div class="btn-group" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-success form-control" routerLink="/pecas/form">
          <i class="fa fa-motorcycle"></i> Cadastrar peça
        </button>
        <input type="text" class="form-control" placeholder="Buscar peça : Nome">
      </div>
    </div>

  </li>
</ol>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Código Interno</th>
            <th>Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of lista">
            <td>
              <!-- <div class="btn-group" role="group">-->
              <div class="btn-group btn-block" role="group">
                <button class="btn btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                  data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                  <i class="fa fa-trash"></i>
                </button>
                <input type="button" class="alert-primary btn-sm btn-block" routerLink="/pecas/form/{{ p.id }}"
                  placement="top" ngbTooltip="Editar" value="{{ p.nome }}">
              </div>


              <!--    <button class="btn btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                  data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                  <i class="fa fa-trash"></i>
                </button>-->
              <!--   </div>-->
            </td>
            <td>{{p.codigoInterno}}</td>

            <td>
              {{ p.venda | currency:'BRL' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="itemSelecionado">
          Confirma a deleção da peça {{ itemSelecionado.nome }}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletar()" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>
