<ol class="breadcrumb mb-4">
  <!--<li class="breadcrumb-item active">Listagem de Pessoas</li>-->
  <li class="breadcrumb-item active">
    <div class="btn-group" role="group">
      <button class="btn btn-success btn-sm" routerLink="/pessoas/juridicas/form">
        <i class="fa fa-user-o"> Cadastrar pessoa Jurídica</i>
      </button>
    </div>

  </li>
</ol>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Pessoas Jurídicas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of lista">
          <td>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group btn-block" role="group">
                      <button class="btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                        data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                        <i class="fa fa-trash"></i>
                      </button>
                      <input type="button" class="btn-primary btn-sm btn-block"
                        routerLink="/pessoas/juridicas/form/{{ p.id }}" placement="top" ngbTooltip="Editar"
                        value="{{ p.nome }}">

                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="row">

                      <div class="col-md-12">
                        <span class="btn-sm btn-block  alert-primary">
                          <span>ID: {{p.id }} </span>
                          <span *ngIf="p.razaoSocial!=null" class="alert-sm  alert-info"> {{ p.razaoSocial}}</span>
                        </span>
                      </div>
                    </div>

                    <!--      <div class="col-md-12">
                      <div class="row">
                        <span *ngIf="p.cnpj!=null" class="btn-sm btn-block  alert-primary">
                          <span> CNPJ: {{p.cnpj |
                            mask:"00.000.000/0000-00" }}
                          </span>
                        </span>
                      </div>
                    </div>-->
                  </div>

                </div>

              </div>

              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <span *ngIf="p.cnpj!=null" class="btn-sm btn-block  alert-primary">
                      <span> CNPJ: {{p.cnpj |
                        mask:"00.000.000/0000-00" }}
                      </span>
                    </span>
                    <!--  <span *ngIf="p.email!=''" class="btn-sm btn-block  alert-primary">
                      <span>{{ p.email }}</span>
                    </span>-->
                  </div>
                  <div class="col-md-6" *ngIf="p.endereco.cidade.nome!='Não cadastrada'">
                    <span class="btn-sm btn-block  alert-primary">
                      <span>{{ p.endereco.cidade.nome }} - </span>
                      <span *ngIf="p.endereco.bairro!=''"> {{ p.endereco.bairro }}</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </td>

          <!--     <td>
              <table *ngIf="(p.grupos)[0]" class="table">
                <tr *ngFor="let g of p.grupos">
                  <td>{{g.nome}}</td>

                </tr>
              </table>
            </td>
          -->
          <!--      <td>{{ p.dataNascimento}}</td>
            <td><span *ngIf="p.usuario">{{ p.usuario.username }}</span></td>
            <td>{{ p.id }}</td>-->


        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
      <div class="form-group">
          <select class="form-control" (change)="onSelect($event.target.value)" id="sort">
              <option value="0">Ordenar por</option>
              <option *ngFor="let item of itensSort" value={{item.value}}>{{item.viewValue}}</option>
            </select>
        </div>
  </div>
    <div class="col">
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
          (page)="pageEvent = $event" (click)=pageLoad()>
          </mat-paginator>
      </div>
</div>

<div id="modalDelecao" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>

      <div class="modal-body" *ngIf="pessoaSelecionada">
        Confirma a deleção da Pessoa {{ pessoaSelecionada.nome }}?
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" (click)="deletarPessoa()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
