<br />

<div class="card mb-12">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Transações Comerciais</h4>
    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #fd7e14; color: #fff;"
        routerLink="/transacoes_comerciais/compras/veiculos">
        <i class="fa fa-motorcycle fa-2x"></i> <p>Compra de Veículo</p>
      </button>


      <button class="btn" style="background-color: #6c757d; color: #fff;"
        routerLink="/transacoes_comerciais/compras/mercadorias">
        <i class="fa fa-shopping-cart fa-2x"></i> <p>Compra de Mercadoria</p>
      </button>

    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #6c757d; color: #fff;"
        routerLink="/transacoes_comerciais/vendas/veiculos">
        <i class="fa fa-motorcycle fa-2x"></i> <p>Venda de Veículo</p>
      </button>


      <button class="btn" style="background-color: #fd7e14; color: #fff;"
        routerLink="/transacoes_comerciais/vendas/mercadorias">
        <i class="fa fa-shopping-cart fa-2x"></i> <p>Venda de Mercadoria</p>
      </button>

    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #fd7e14; color: #fff;" routerLink="/devolucao_ao_fornecedor">
        <i class="fa fa-exchange fa-2x"></i> <p>Devolução ao Fornecedor</p>
      </button>



      <button class="btn" style="background-color: #6c757d; color: #fff;" routerLink="/devolcao_do_cliente">
        <i class="fa fa-exchange fa-2x"></i> <p>Devolução do Cliente</p>
      </button>

    </div>
    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #6c757d; color: #fff;" routerLink="/retirada_por_defeito">
        <i class="fa fa-trash fa-2x"></i> <p>Retirada por Defeito</p>
      </button>


      <button class="btn" style="background-color: #fd7e14; color: #fff;" routerLink="/compra_outras_despesas">
        <i class="fa fa-usd fa-2x"></i> <p>Outras Despesas</p>
      </button>

    </div>
    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #fd7e14; color: #fff;" routerLink="/retirada_de_peca_utilizadas">
        <i class="fa fa-angle-double-right fa-2x"></i> <p>Retiradas de Peças Utilizadas</p>
      </button>

      <button class="btn" style="background-color: #6c757d; color: #fff;">
        <i class=""></i> <p></p>
      </button>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
