<br />

<div class="card mb-12">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Transações Comerciais</h4>
    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #fd7e14; color: #fff;"
        routerLink="/transacoes_comerciais/compras/veiculos">
        <i class="fa fa-motorcycle fa-2x"></i> <p>Compras de Veículos</p>
      </button>


      <button class="btn" style="background-color: #6c757d; color: #fff;"
        routerLink="/transacoes_comerciais/compras/mercadorias">
        <i class="fa fa-shopping-cart fa-2x"></i> <p>Compras de Mercadorias</p>
      </button>

    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #6c757d; color: #fff;"
        routerLink="/transacoes_comerciais/vendas/veiculos">
        <i class="fa fa-motorcycle fa-2x"></i> <p>Vendas de Veículos</p>
      </button>


      <button class="btn" style="background-color: #fd7e14; color: #fff;"
        routerLink="/transacoes_comerciais/vendas/mercadorias">
        <i class="fa fa-shopping-cart fa-2x"></i> <p>Vendas de Mercadorias</p>
      </button>

    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #fd7e14; color: #fff;" routerLink="/transacoes_comerciais/devolucoes/fornecedores">
        <i class="fa fa-exchange fa-2x"></i> <p>Devoluções aos Fornecedores</p>
      </button>



      <button class="btn" style="background-color: #6c757d; color: #fff;" routerLink="/transacoes_comerciais/devolucoes/clientes">
        <i class="fa fa-exchange fa-2x"></i> <p>Devoluções dos Clientes</p>
      </button>

    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #6c757d; color: #fff;"
       routerLink="/transacoes_comerciais/despesas/compras_outras_despesas">
        <i class="fa fa-usd fa-2x"></i> <p>Outras Despesas</p>
      </button>



      <button class="btn" style="background-color: #fd7e14; color: #fff;"
       routerLink="/transacoes_comerciais/despesas/retiradas_de_pecas_utilizadas">
        <i class="fa fa-angle-double-right fa-2x"></i> <p>Retiradas de Peças Utilizadas em Veículos</p>
      </button>

      <!--
      <button class="btn" style="background-color: #6c757d; color: #fff;"
       routerLink="/transacoes_comerciais/despesas/servicos_prestados">
        <i class="fa fa-cogs fa-2x"></i> <p>Serviços Prestados</p>
      </button>
    -->
    </div>

    <div class="btn-group  btn-block" role="group">

      <button class="btn" style="background-color: #6c757d; color: #fff;"
      routerLink="/transacoes_comerciais/retiradas_por_defeitos">
        <i class="fa fa-trash fa-2x"></i> <p>Retiradas por Defeitos</p>
      </button>

    </div>

  </div>
</div>

<router-outlet></router-outlet>
