<ol class="breadcrumb mb-4">

  <li class="breadcrumb-item active">
    <div class="btn-group" role="group">
      <div class="btn-group" role="group">
        <input type="text" class="form-control" placeholder="Buscar serviço : Nome">
      </div>
    </div>

  </li>
</ol>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Serviço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of lista">
            <td>
              <div class="row">
                <div class="col-md-6">
                  <!-- <div class="btn-group" role="group">-->
                  <div class="btn-group btn-block" role="group">
                    <button class="btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                      data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                      <i class="fa fa-trash"></i>
                    </button>
                    <input type="button" class="btn-primary btn-sm btn-block" routerLink="/servicos/form/{{ p.id }}"
                      placement="top" ngbTooltip="Editar" value="{{ p.nome }}">
                  </div>
                </div>
                <div class="col-md-6">
                  <span class="btn-sm btn-block  alert-primary">
                    <span>ID: {{p.id }} </span>
                    <span *ngIf="p.tempoDeExecucao!=null" class="alert-sm  alert-info">

                      {{ p.tempoDeExecucao }} min.
                    </span>
                    <span *ngIf="p.venda!=null">
                      {{ p.venda | currency:'BRL' }}
                    </span>
                  </span>


                  <!--    <button class="btn btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                  data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                  <i class="fa fa-trash"></i>
                </button>-->
                  <!--   </div>-->

                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="itemSelecionado">
          Confirma apagar o serviço {{ itemSelecionado.nome }}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletar()" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>


