<ol class="breadcrumb mb-12">

  <li class="breadcrumb-item active">
    <div class="btn-group" role="group">
      <button class="btn btn-success form-control" routerLink="/veiculos/form">
        <i class="fa fa-motorcycle"></i> Cadastrar veículo
      </button>
      <input type="text" class="form-control" placeholder="Buscar veículo : Placa">
    </div>
  </li>
</ol>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Veículo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of lista">
            <td>

              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <!-- <div class="btn-group" role="group">-->
                      <div class="btn-group btn-block" role="group">
                        <button class="btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                          data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                          <i class="fa fa-trash"></i>
                        </button>
                        <input type="button" class="btn-primary btn-sm btn-block" routerLink="/veiculos/form/{{ p.id }}"
                          placement="top" ngbTooltip="Editar" value="{{ p.nome }}">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <span class="btn-sm btn-block  alert-primary">
                        <span>ID: {{p.id }} </span>
                        <span *ngIf="p.nome!=null" class="alert-sm  alert-info">{{p.placa}}</span>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-6">
                      <span *ngIf="p.marca.id!=1 || p.renavam!=null" class="btn-sm btn-block  alert-primary">
                        <span *ngIf="p.marca.id!=1">{{p.marca.nome }} </span>
                        <span class="alert-sm  alert-info" *ngIf="p.renavam!=null">
                          <span>Renavam: {{p.renavam}}</span>
                        </span>
                      </span>
                    </div>

                    <div class="col-md-6">

                      <!--    <button class="btn btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                  data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                  <i class="fa fa-trash"></i>
                </button>-->
                      <!--   </div>-->
                  <span  *ngIf="p.anoFabricacao!=null || p.anoModelo!=null || p.venda>0" class="btn-sm btn-block  alert-primary">
                      <span *ngIf="p.anoFabricacao!=null">
                        {{p.anoFabricacao}}
                      </span>
                      <span *ngIf="p.anoModelo!=null">

                        /{{p.anoModelo}}
                      </span>

                      <!--'' <input type="text" class="form-control" [(ngModel)]="p.venda" name="venda" currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly />-->
                      <span *ngIf="p.venda>0" class="alert-sm  alert-info">
                        Preço: {{ p.venda | currency:'BRL' }}
                      </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="itemSelecionado">
          Confirma a deleção do Veículo {{ itemSelecionado.nome }}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletar()" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

