<h3 class="mt-4">Pessoas</h3>
<ol class="breadcrumb mb-2">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<ul class="nav">
<!--  <li class="nav-item">
    <button class="btn-sm btn-warning" routerLink="/pessoas/form" >
      <i class="fa fa-plus"></i> Novo
  </button>
  </li>-->
  <li class="nav-item">
    <button class="btn-sm btn-primary" routerLink="/pessoas/list" >
      <i class="fas fa-users"></i>Listar Todas
    </button>
  </li>
  <li class="nav-item">
    <button class="btn-sm btn-primary" routerLink="/pessoas/list" >
      <i class="fas fa-users"></i>Usuários
    </button>
  </li>
  <li class="nav-item">
    <div class="dropdown">
      <button class="btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Tipos de Pessoas
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/pessoas/list">Clientes</a>
        <a class="dropdown-item" routerLink="/pessoas/list">Fornecedores</a>
        <a class="dropdown-item" routerLink="/pessoas/list">Vendedores</a>
        <a class="dropdown-item" routerLink="/pessoas/list">Mecânicos</a>
        <a class="dropdown-item" routerLink="/pessoas/list">Gestores</a>
      </div>
    </div>
  </li>

</ul>

<router-outlet></router-outlet>
