<br />

<div class="card mb-3">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Pessoas</h4>
    </div>
    <div class="btn-group" role="group">
      <button class="btn-sm btn-primary" routerLink="/pessoas/grupos/list">
        <i class="fa fa-users fa-2x"></i> Grupos
      </button>

      <button class="btn-sm btn-primary" routerLink="/pessoas/list">
        <i class="fa fa-user-circle fa-2x"></i> Física
      </button>


      <button class="btn-sm btn-primary" routerLink="/pessoas/juridicas/list">
        <i class="fa fa-user-circle fa-2x"></i>Jurídica
      </button>

    </div>
    <div class="btn-group" role="group">

      <button class="btn-sm btn-primary" routerLink="usuarios/list">
        <i class="fa fa-user fa-2x"></i> Usuários
      </button>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
