<br />

<div class="card mb-12">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Estoque</h4>
    </div>

    <div class="btn-group btn-block" role="group">

      <button routerLink="/estoques/estoques/list" class="btn-sm btn-primary">
        <i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
        Estoques
      </button>

      <button routerLink="/estoques/itens_entradas/list"  class="btn-sm btn-primary">
        <i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
        Entradas
      </button>

      <button routerLink="/estoques/itens_saidas/list"  class="btn-sm btn-primary">
        <i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
        Saídas
      </button>

    </div>
  </div>


</div>

<router-outlet></router-outlet>

