<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Cadastrar nova pessoa</li>
</ol>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Pessoa salva/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome: *</label>
          <input type="text" class="form-control" formControlName="nome"
          [ngClass]="{ 'is-invalid': submitted && f.nome.errors }"/>
          <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">Nome é requerido</div>
        </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email é requerido</div>
          <div *ngIf="f.email.errors.email">Digite um email válido</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>CPF:</label>
            <input type="text" class="form-control" formControlName="cpf" mask="000.000.000-00"
              [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }" />
              <div class="invalid-feedback">
              * CPF inválido.
            </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Identidade:</label>
          <input type="text" class="form-control" formControlName="identidade" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>CEP:</label>
          <input type="text" class="form-control" formControlName="cep" mask="00.000-000"
          [ngClass]="{ 'is-invalid': submitted && f.cep.errors }"/>
          <div class="invalid-feedback">
            * CEP inválido.
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Cidade Id</label>
          <input type="text" class="form-control" formControlName="cidadeId" mask="0*" />
        </div>
      </div>
    </div>





    <div class="row">

      <div class="col-md-3">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>

  </form>
</div>
