<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ id ? 'Editando ' : 'Cadastrando' }}</li>
  <li class="breadcrumb-item active"><a routerLink="/manutencoes/list">Voltar para listagem</a></li>
</ol>

<form #manutencaoForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-md-12">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">

          <div class="card-header">
            <h5 class="card-title">Manutenção <span class="badge  badge-info"> Id: {{manutencao.id}}</span>

              <span *ngIf="manutencao.id!=null">
                <span *ngIf="manutencao.ativa" class="badge badge-success" placement="right"
                  ngbTooltip="Manutenção Aberta"><i class="fa fa-flag-checkered"></i></span>
                <span *ngIf="!manutencao.ativa" class="badge badge-warning" placement="right"
                  ngbTooltip="Manutenção Fechada"><i class="fa fa-flag-checkered"></i></span>
              </span>
            </h5>


          </div>

          <div class="row">

            <div class="col-md-2">
              <div class="form-group">
                <label>Veículo Placa</label>
                <ng-container *ngIf="manutencao.id==null; else elseTemplate">
                  <input id="manutencao.veiculo" name="manutencao.veiculo" type="text" class="form-control"
                    [(ngModel)]="manutencao.veiculo" [ngbTypeahead]="searchVeiculo" placeholder="Digite a placa"
                    [inputFormatter]="formatterVeiculo" [resultFormatter]="formatterVeiculo">

                </ng-container>
                <ng-template #elseTemplate>
                  <input type="text" name="manutencao.veiculo.placa" class="form-control"
                    [ngModel]="manutencao.veiculo.placa" readonly />

                </ng-template>
              </div>
            </div>

            <div class="col-md-6" *ngIf="manutencao.id">
              <div class="form-group">
                <label>Veículo Nome</label>
                <input type="text" [(ngModel)]="manutencao.veiculo.nome" name="manutencao.nome" class="form-control"
                  readonly />
              </div>
            </div>

            <div class="col-md-2" *ngIf="manutencao.id">
              <div class="form-group">
                <label>Custo Total do Veículo</label>
                <input type="text" class="form-control" [(ngModel)]="totalDespesas" name="custo" currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
              </div>
            </div>


            <!--  <div class="col-md-1">

              <label>Status</label>
              <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
            </div>
          -->
            <!--            <div class="col-md-1" *ngIf="manutencao.id">
              <div class="form-group">
                <label>ID</label>
                <input type="text" [(ngModel)]="manutencao.id" name="manutencao.id" class="form-control"
                  disabled="true" />
              </div>
            </div>
          -->
            <div class="col-md-2" *ngIf="manutencao.id">
              <div class="form-group">
                <label>Status da Manutenção</label>

                <div *ngIf="statusManutencao == null; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                  <button class="form-control btn btn-danger" type="button" *ngIf="manutencao.ativa == true"
                    (click)="statusManutencao=false">Fechar</button>
                  <button class="form-control btn btn-warning" type="button" *ngIf="manutencao.ativa == false"
                    (click)="statusManutencao=true">Abrir</button>


                </ng-template>

                <ng-template #elseBlock>

                  <button class="form-control btn btn-danger" type="button" *ngIf="manutencao.ativa == true"
                    (click)="statusManutencao=false">Fechar</button>
                  <button class="form-control btn btn-warning" type="button" *ngIf="manutencao.ativa == false"
                    (click)="statusManutencao=true">Abrir</button>
                  <div class="alert alert-danger">

                    Tem certeza que deseja alterar o status da manutenção?
                    <button class="form-control btn btn-warning" type="button" (click)="statusManutencao=null">Não
                      alterar</button>
                    <p></p>
                    <button type="submit" class="form-control btn btn-warning" *ngIf="manutencao.id"
                      (click)="alterarStatusManutencao()">
                      <i class="fa fa-sync-alt"> Sim</i>
                    </button>
                  </div>
                </ng-template>

              </div>
            </div>


          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Responsável</label>
                <ng-container *ngIf="manutencao.id==null; else elseTemplateR">
                  <input id="manutencao.responsavelManutencao" name="manutencao.responsavelManutencao" type="text"
                    class="form-control" [(ngModel)]="manutencao.responsavelManutencao" [ngbTypeahead]="search"
                    placeholder="Digite as iniciais no nome" [inputFormatter]="formatter" [resultFormatter]="formatter">
                </ng-container>

                <ng-template #elseTemplateR>
                  <input type="text" class="form-control" id="manutencao.responsavelManutencao.nome"
                    name="manutencao.responsavelManutencao.nome" [ngModel]="manutencao.responsavelManutencao.nome"
                    readonly />

                </ng-template>
              </div>
            </div>

            <div class="col-md-3" *ngIf="manutencao.id">
              <div class="form-group">
                <label>Data-Hora Entrada</label>
                <input type="text" class="form-control" value="{{manutencao.dataEntrada  | date:'dd/MM/yyyy-HH:mm'}}"
                  name="dataEntrada" readonly>
              </div>
            </div>

            <div class="col-md-3" *ngIf="!manutencao.ativa && manutencao.ativa!=null">
              <div class="form-group">
                <label>Data Término</label>
                <input type="text" class="form-control" value="{{manutencao.dataSaida  | date:'dd/MM/yyyy : HH:mm'}}"
                  name="dataTermino" readonly>
              </div>
            </div>

          </div>


          <div class="row" *ngIf="manutencao.veiculo.proprietarios.length > 0">
            <div class="col-md-6">
              <div class="form-group">
                <label>Proprietário</label>
                <input type="text" class="form-control"
                  [(ngModel)]="manutencao.veiculo.proprietarios[manutencao.veiculo.proprietarios.length-1].nome"
                  name="manutencao.veiculo.proprietarios.nome" readonly>
              </div>
            </div>
          </div>



          <!--
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Placa Veículo</label>
                  <input type="text" class="form-control" [(ngModel)]="manutencao.veiculo.placa" name="veiculo.placa">
                </div>
              </div>
            </div>
          -->
          <!--
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
        -->
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-success" role="alert" *ngIf="success == true">
                Operação realizada com sucesso com sucesso!
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="success == false">
                {{mensagemErro}}
              </div>
            </div>
          </div>

          <div class="btn-group">
            <button type="submit" class="btn btn-success" *ngIf="!manutencao.id">
              <i class="fa fa-floppy-o"></i> Salvar
            </button>

            <button type="submit" class="btn btn-warning" *ngIf="manutencao.id">
              <i class="fa fa-sync-alt"></i> Atualizar
            </button>
            <!--
            <button type="button" class="btn btn-danger ml-1" routerLink="/manutencoes/list">
              <i class="fa fa-arrow-left"></i> Voltar
            </button>-->
          </div>
        </div>
      </div>

    </div>

  </div>

</form>

<hr />

<div class="row">

  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">

        <div class="card-header">
          <h5 class="card-title">Serviços Prestados</h5>
        </div>


        <div class="card text-white bg-info mb-3">
          <div class="card-body">

            <div class="row">
              <div class="col-md-12">

                <input id="servico" name="servico" type="text" class="form-control" [(ngModel)]="servico"
                  [ngbTypeahead]="searchServico" placeholder="Digite o nome do serviço"
                  [inputFormatter]="formatterServico" [resultFormatter]="formatterServico">

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <!-- <div class="btn-group btn-block" role="group"> -->
                <input id="responsavelPelaDespesa" name="responsavelPelaDespesa" type="text" class="form-control"
                  [(ngModel)]="responsavelPelaDespesa" [ngbTypeahead]="search" placeholder="Digite o seu nome"
                  [inputFormatter]="formatter" [resultFormatter]="formatter">



                <button type="button" class="btn btn-success" (click)="adicionarServicoPrestado()">
                  Adicionar
                </button>

              </div>
            </div>

          </div>
        </div>


        <div class="card text-white bg- mb-3" *ngIf="msgSucessoServicoPrestadoAdicionadoStatus != null
        || msgSucessoServicoPrestadoRemovidoStatus != null">
          <div class="card-body">

            <div class="row">
              <div class="col-md-12">
                <div *ngIf="msgSucessoServicoPrestadoAdicionadoStatus != null
            || msgSucessoServicoPrestadoRemovidoStatus != null">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="msgSucessoServicoPrestadoRemovidoStatus == true">

                  {{msgSucessoServicoPrestadoRemovido}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="msgSucessoServicoPrestadoRemovidoStatus == false">

                  {{msgSucessoServicoPrestadoRemovido}}
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="msgSucessoServicoPrestadoAdicionadoStatus == true">
                  {{msgSucessoServicoPrestadoAdicionado}}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="msgSucessoServicoPrestadoAdicionadoStatus == false">
                  {{msgSucessoServicoPrestadoAdicionado}}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div *ngIf="msgSucessoServicoPrestadoAdicionadoStatus != null
            || msgSucessoServicoPrestadoRemovidoStatus != null">
                  <button type="button" class="btn btn-warning" (click)="limparMensagens()">
                    Limpar mensagens
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>



        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>

                  <th>Entregar</th>
                  <th>Descrição</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of servicosPrestados">

                  <td>

                    <div class="row" *ngIf="item.dataEntrega == null">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-danger" (click)="preparaDelecao(item)" placement="top"
                          ngbTooltip="Apagar" data-toggle="modal" data-target="#modalDelecao">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>
                    <br />
                    <div class="row" *ngIf="item.dataEntrega == null">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-success" (click)="preparaEntrega(item)" placement="top"
                          ngbTooltip="Entregar  serviço" data-toggle="modal" data-target="#modalEntrega">
                          <i class="fa fa-check"></i>
                        </button>
                      </div>
                    </div>

                  </td>
                  <td>
                    <div class="card">
                      <button class="btn btn-sm" style="text-align: left;">

                        <div>Id: {{item.id}}</div>
                        <div>Início: {{item.data | date:'dd/MM/yyyy : HH:mm'}}</div>
                        <div>Serviço: {{item.servico.nome}}</div>
                        <div>Valor: {{item.servico.venda | currency:'BRL'}}</div>
                        <div>Responsável: {{item.responsavel.nome}}</div>
                        <div *ngIf="item.dataEntrega == null" class="btn-warning" style="padding-left: 5px;"> Não
                          entregue
                          ainda.</div>
                        <div *ngIf="item.dataEntrega != null" class="btn-success" style="padding-left: 5px;"> Entregue
                          em:
                          {{ item.dataEntrega | date:'dd/MM/yyyy : HH:mm'}}</div>

                      </button>
                    </div>

                    <!-- <div class="btn-group" role="group">-->
                    <!--     <div class="btn-group btn-block" role="group">
                        <button class="btn btn-danger btn-sm"  data-toggle="modal"
                          data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                          <i class="fa fa-trash"></i>
                        </button>
                        <input type="button" class="alert-primary btn-sm btn-block" routerLink="/manutencoes/form/{{item.servico.id }}"
                          placement="top" ngbTooltip="Editar" value="{{item.servico.nome }}">
                      </div>-->

                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>




      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">

        <div class="card-header">
          <h5 class="card-title">Peças Utilizadas</h5>
        </div>
        <div class="card text-white bg-info mb-3">
          <div class="card-body">

            <div class="row">
              <div class="col-md-12">

                <input id="peca" name="peca" type="text" class="form-control" [(ngModel)]="peca"
                  [ngbTypeahead]="searchPeca" placeholder="Digite o nome da peca"
                  [inputFormatter]="formatterPeca" [resultFormatter]="formatterPeca">

              </div>
            </div>


            <div class="card text-white bg- mb-3" *ngIf="msgSucessoPecaUtilizadaAdicionadoStatus != null
            || msgSucessoPecaUtilizadaRemovidoStatus != null">
              <div class="card-body">

                <div class="row">
                  <div class="col-md-12">
                    <div *ngIf="msgSucessoPecaUtilizadaAdicionadoStatus != null
                || msgSucessoPecaUtilizadaRemovidoStatus != null">
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="msgSucessoPecaUtilizadaRemovidoStatus == true">

                      {{msgSucessoPecaUtilizadaRemovido}}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="msgSucessoPecaUtilizadaRemovidoStatus == false">

                      {{msgSucessoPecaUtilizadaRemovido}}
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <div class="alert alert-success" role="alert" *ngIf="msgSucessoPecaUtilizadaAdicionadoStatus == true">
                      {{msgSucessoPecaUtilizadaAdicionado}}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="msgSucessoPecaUtilizadaAdicionadoStatus == false">
                      {{msgSucessoPecaUtilizadaAdicionado}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div *ngIf="msgSucessoPecaUtilizadaAdicionadoStatus != null
                || msgSucessoPecaUtilizadaRemovidoStatus != null">
                      <button type="button" class="btn btn-warning" (click)="limparMensagens()">
                        Limpar mensagens
                      </button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">

              <div class="col-md-12">

                <!-- <div class="btn-group btn-block" role="group"> -->
                <input id="responsavelPelaDespesa" name="responsavelPelaDespesa" type="text" class="form-control"
                  [(ngModel)]="responsavelPelaDespesa" [ngbTypeahead]="search" placeholder="Digite o seu nome"
                  [inputFormatter]="formatter" [resultFormatter]="formatter">

                <button type="button" class="btn btn-success" (click)="adicionarPecaUsada()">
                  Adicionar
                </button>

              </div>
            </div>
          </div>
        </div>



            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead>
                    <tr>

                      <th>Controles</th>
                      <th>Descrição</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of pecasUtilizadas">

                      <td>

                        <div class="row" *ngIf="item.dataEntrega == null">
                          <div class="col-md-12">
                            <button type="button" class="btn btn-danger" (click)="preparaDelecaoPeca(item)" placement="top"
                              ngbTooltip="Apagar" data-toggle="modal" data-target="#modalDelecaoPeca">
                              <i class="fa fa-trash"></i>
                            </button>
                          </div>
                        </div>
                        <br />


                      </td>
                      <td>
                        <div class="card">
                          <button class="btn btn-sm" style="text-align: left;">

                            <div>Id: {{item.id}}</div>
                            <div>Início: {{item.data | date:'dd/MM/yyyy : HH:mm'}}</div>
                            <div>Serviço: {{item.peca.nome}}</div>
                            <div>Valor: {{item.peca.venda | currency:'BRL'}}</div>
                            <div>Qtd: {{item.quantidade }}</div>
                            <div>Responsável: {{item.responsavel.nome}}</div>

                          </button>
                        </div>

                        <!-- <div class="btn-group" role="group">-->
                        <!--     <div class="btn-group btn-block" role="group">
                            <button class="btn btn-danger btn-sm"  data-toggle="modal"
                              data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                              <i class="fa fa-trash"></i>
                            </button>
                            <input type="button" class="alert-primary btn-sm btn-block" routerLink="/manutencoes/form/{{item.servico.id }}"
                              placement="top" ngbTooltip="Editar" value="{{item.servico.nome }}">
                          </div>-->

                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>



      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-secondary mb-3">
      <div class="card-body">

        <div class="card-header">
          <h5 class="card-title">Outras Despesas</h5>
        </div>

        ...
      </div>
    </div>
  </div>

  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="servicoPrestadoSelecionado">
          Confirma apagar o serviço {{ servicoPrestadoSelecionado.servico.nome}}
          => Data: {{servicoPrestadoSelecionado.data}}
          => Responsável: {{servicoPrestadoSelecionado.responsavel.nome}}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="removerServicoPrestado();" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalEntrega" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="servicoPrestadoSelecionado">
          Confirma a entrega do serviço {{ servicoPrestadoSelecionado.servico.nome}}
          => Data: {{servicoPrestadoSelecionado.data}}
          => Responsável: {{servicoPrestadoSelecionado.responsavel.nome}}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="entregarServicoPrestado();" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

  <div id="modalDelecaoPeca" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="pecaUtilizadaSelecionada">
          Confirma apagar o serviço {{ pecaUtilizadaSelecionada.peca.nome}}
          => Data: {{pecaUtilizadaSelecionada.data}}
          => Responsável: {{pecaUtilizadaSelecionada.responsavel.nome}}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="removerPecaUtilizada();" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>
