<br />

<div class="card mb-3">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Produtos</h4>
    </div>

    <div class="btn-group" role="group">

      <button class="btn-sm btn-primary" routerLink="/veiculos/list">
        <i class="fa fa-motorcycle fa-2x"></i> Veículos
      </button>

      <button class="btn-sm btn-primary" routerLink="/pecas/list">
        <i class="fa fa-tags fa-2x"></i> Peças
      </button>

      <button class="btn-sm btn-primary" routerLink="/acessorios/list">
        <i class="fa fa-plus-square fa-2x"></i> Acessórios
      </button>
    </div>
    <div class="btn-group" role="group">

      <button class="btn-sm btn-primary" routerLink="/impostos/list">
        <i class="fa fa-percent  fa-2x"></i> Imposto
      </button>

      <button class="btn-sm btn-success" routerLink="/produtos/marcas/form">
        <i class="fa fa-trademark fa-2x"></i> Cadastrar
      </button>

      <button class="btn-sm btn-primary" routerLink="/produtos/list">
        <i class="fa fa-cubes fa-2x"></i> Produtos
      </button>
    </div>



  </div>
</div>


<router-outlet></router-outlet>
