<h3 class="mt-4">Veículos</h3>
<ul class="nav">

  <li class="nav-item">
    <button class="btn-sm btn-primary" routerLink="/produtos/list">
      <i class="fa fa-cubes fa-2x"></i> Produtos
    </button>
  </li>

  <li class="nav-item">
    <button class="btn-sm btn-primary" routerLink="/veiculos/list">
      <i class="fa fa-motorcycle fa-2x"></i> Veículos
    </button>
    </li>

    <li class="nav-item">
      <button class="btn-sm btn-primary" routerLink="/pecas/list">
        <i class="fa fa-tags fa-2x"></i> Peças
      </button>
      </li>
      <li class="nav-item">
        <button class="btn-sm btn-primary" routerLink="/acessorios/list">
          <i class="fa fa-plus-square fa-2x"></i> Acessórios
        </button>
        </li>

</ul>
<hr />

<router-outlet></router-outlet>
