<h4 class="mt-4">Listagem de Pessoas</h4>
<ol class="breadcrumb mb-4">
  <li class="breadcrum-bitem active">Consulta</li>
</ol>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Bairro</th>
            <th>Grupos</th>
            <th>Email</th>
            <th>Data Nascimento</th>
            <th>Data Cadastro</th>
            <th>Data Atualização</th>
            <th>Usuário email</th>
            <th>Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of lista">
            <td>{{ p.nome }} </td>
            <td>{{ p.endereco.cidade.nome }}</td>
            <td>{{ p.endereco.bairro }}</td>
            <td>
              <table *ngIf=p.grupos class="table">
                <tr *ngFor="let g of p.grupos">
                  <td>{{g.nome}}</td>

                </tr>
              </table>
            </td>
            <td>{{ p.email }}</td>
            <td>{{ p.dataNascimento}}</td>
            <td>{{ p.dataCadastro | date:'dd/MM/yyy'}}</td>
            <td>{{ p.dataAtualizacao | date:'dd/MM/yyy' }}</td>
            <td><span *ngIf=p.usuario>{{ p.usuario.username }}</span></td>
            <td>{{ p.id }} </td>

            <td>
              <div class="btn-group" role="group">
                <button class="btn btn-primary btn-sm" routerLink="/pessoas/form/{{ p.id }}">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                  data-target="#modalDelecao">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação</h4>
        </div>

        <div class="modal-body" *ngIf="pessoaSelecionada">
          Confirma a deleção da Pessoa {{ pessoaSelecionada.nome }}?
        </div>

        <div class="modal-footer">
          <button class="btn btn-success" (click)="deletarPessoa()" data-dismiss="modal">Confirmar</button>
          <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>
