<ol class="breadcrumb mb-4">
  <!--<li class="breadcrumb-item active">Listagem de Pessoas</li>-->
  <li class="breadcrumb-item active">
    <div class="btn-group" role="group">
      <button class="btn btn-success btn-sm" routerLink="/pessoas/form">
        <i class="fa fa-user-o"></i> Cadastrar pessoa
      </button>
    </div>

  </li>
</ol>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Pessoas Físicas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of lista">
          <td>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group btn-block" role="group">
                      <button class="btn-danger btn-sm" (click)="preparaDelecao(p)" data-toggle="modal"
                        data-target="#modalDelecao" placement="top" ngbTooltip="Apagar">
                        <i class="fa fa-trash"></i>
                      </button>

                      <input type="button" class="btn-primary btn-sm btn-block" routerLink="/pessoas/form/{{ p.id }}"
                        placement="top" ngbTooltip="Editar" value="{{ p.nome }}">

                    </div>
                  </div>
                  <div class="col-md-6">
                    <span class="btn-sm btn-block  alert-primary">
                      <span>ID: {{p.id }} </span>
                      <span *ngIf="p.cpf!=null" class="alert-sm  alert-info"> CPF: {{p.cpf | mask:"000.000.000-00" }}
                      </span>
                      <span *ngIf="p.email!=''"> <i class="fa fa-envelope" aria-hidden="true"> {{p.email}}</i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="p.endereco.cidade.nome!='Não cadastrada'">
                <span class="btn-sm btn-block  alert-info">
                  <span>{{ p.endereco.cidade.nome }} - </span>
                  <span *ngIf="p.endereco.bairro!=''"> {{ p.endereco.bairro }}</span>
                </span>
              </div>
            </div>


            <!--     <td>
              <table *ngIf="(p.grupos)[0]" class="table">
                <tr *ngFor="let g of p.grupos">
                  <td>{{g.nome}}</td>

                </tr>
              </table>
            </td>
          -->
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="modalDelecao" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>

      <div class="modal-body" *ngIf="pessoaSelecionada">
        Confirma a deleção da Pessoa {{ pessoaSelecionada.nome }}?
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" (click)="deletarPessoa()" data-dismiss="modal">Confirmar</button>
        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
