<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
      <div class="nav">
        <div class="sb-sidenav-menu-heading">Sistema</div>
        <a class="nav-link" routerLink="/home">
          <div class="sb-nav-link-icon">
            <i class="fas fa-tachometer-alt"></i>
          </div>
          Home
        </a>


        <div class="sb-sidenav-menu-heading">Cadastros</div>

        <a class="nav-link collapsed" routerLink="/pessoas" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
          Pessoas
        </a>

        <a class="nav-link collapsed" routerLink="/compras" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-cart-plus"></i></div>
          Compras
        </a>

        <a class="nav-link collapsed" routerLink="/vendas" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-shopping-basket"></i></div>
          Vendas
        </a>

        <a class="nav-link collapsed" routerLink="/estoque" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-cubes"></i></div>
          Estoque
        </a>

        <a class="nav-link collapsed" routerLink="/produtos" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-cubes"></i></div>
          Cadastro Produtos
        </a>

        <a class="nav-link collapsed" routerLink="/veiculos/motos" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-motorcycle"></i></div>
          Motos
        </a>

        <a class="nav-link collapsed" routerLink="/manutencoes" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-list-alt"></i></div>
          Manutenção
        </a>

        <a class="nav-link collapsed" routerLink="/manutencoes" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-list-alt"></i></div>
          Manutenção
        </a>

        <a class="nav-link collapsed" routerLink="/tipos_servicos" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-cogs"></i></div>
          Tipos Serviços
        </a>

        <a class="nav-link collapsed" routerLink="/pecas" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fa fa-tags"></i></div>
          Peças
        </a>

        <div class="sb-sidenav-menu-heading">Outros</div>
        <a class="nav-link collapsed" routerLink="/servicos-prestados" data-toggle="collapse"
          data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fas fa-address-card"></i></div>
          Serviços Prestados
        </a>

        <a class="nav-link collapsed" routerLink="/veiculos" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fas fa-car"></i></div>
          Veículos
        </a>



        <div class="sb-sidenav-menu-heading">Logout</div>
        <a class="nav-link collapsed" (click)="logout();" href="#" data-toggle="collapse" data-target="#collapseLayouts"
          aria-expanded="false" aria-controls="collapseLayouts">
          <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
          Sair
        </a>
      </div>
    </div>
    <div class="sb-sidenav-footer">
      <div class="small">Usuário Logado:</div>
      {{ usuarioLogado }}
    </div>
  </nav>
</div>
