<h3 class="mt-4">Home</h3>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Bem vindo</li>
</ol>

  <div class="card-group">
    <div class="card">
      <button class="btn btn-lg" style="background-color: #6610f2; color: #fff;">
        <p class="fa fa-users fa-2x" aria-hidden="true"></p>
        <p>Pessoas</p>
      </button>
    </div>
    <div class="card">
      <button class="btn btn-lg" style="background-color: #20c997; color: #fff;">
        <p class="fa fa-cart-plus fa-2x" aria-hidden="true"></p>
        <p>Compras</p>
      </button>
    </div>

    <div class="card">
      <button class="btn btn-lg" style="background-color: #6610f2; color: #fff;">
        <p class="fa fa-shopping-basket fa-2x" aria-hidden="true"></p>
        <p>Vendas</p>
      </button>
    </div>

  </div>

  <div class="card-group">
    <div class="card">
      <button class="btn btn-lg" style="background-color: #20c997; color: #fff;">
        <p class="fa fa-cubes fa-2x" aria-hidden="true"></p>
        <p>Estoque</p>
      </button>
    </div>

    <div class="card">
      <button class="btn btn-lg" style="background-color: #6610f2; color: #fff;">
        <p class="fa fa-cube fa-2x" aria-hidden="true"></p>
        <p>Cadastro de Produtos</p>
      </button>
    </div>

    <div class="card">
      <button class="btn btn-lg" style="background-color: #20c997; color: #fff;">
        <p class="fa fa-motorcycle fa-2x" aria-hidden="true"></p>
        <p>Motos</p>
      </button>
    </div>

  </div>

  <div class="card-group">
    <div class="card">
      <button class="btn btn-lg" style="background-color: #6610f2; color: #fff;">
        <p class="fa fa-list-alt fa-2x" aria-hidden="true"></p>
        <p>Manutenções</p>
      </button>
    </div>
    <div class="card">
      <button class="btn btn-lg" style="background-color: #20c997; color: #fff;">
        <p class="fa fa-cogs fa-2x" aria-hidden="true"></p>
        <p>Tipos de Serviços</p>
      </button>
    </div>

    <div class="card">
      <button class="btn btn-lg" style="background-color: #6610f2; color: #fff;">
        <p class="fa fa-tags fa-2x" aria-hidden="true"></p>
        <p>Peças</p>
      </button>
    </div>

  </div>

  <div class="card-group">
    <div class="card">
      <button class="btn btn-lg" style="background-color: #20c997; color: #fff;">
        <p class="fa fa-address-card fa-2x" aria-hidden="true"></p>
        <p>Comissões</p>
      </button>
    </div>
    <div class="card">
      <button class="btn btn-lg" style="background-color: #6610f2; color: #fff;">
        <p class="fa fa-truck fa-2x" aria-hidden="true"></p>
        <p>Fornecedores</p>
      </button>
    </div>

    <div class="card">
      <button class="btn btn-lg" style="background-color: #20c997; color: #fff;">
        <p class="fa fa-address-book fa-2x" aria-hidden="true"></p>
        <p>Clientes</p>
      </button>
    </div>



  </div>
