<!--<h3 class="mt-4">Home</h3>-->

<br />

<div class="row">

  <div class="col-sm-12">
    <div class="card">
      <div class="btn-group" role="group">

        <button routerLink="/compras" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
          <p>Compras</p>
        </button>

        <button routerLink="/manutencoes" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-list-alt fa-2x" aria-hidden="true"></i>
          <p>Manutenções</p>
        </button>

        <button routerLink="/vendas" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
          <p>Vendas</p>
        </button>
      </div>

    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="btn-group" role="group">

        <button routerLink="/estoques" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-cubes fa-2x" aria-hidden="true"></i>
          <p>Estoque</p>
        </button>


        <button routerLink="/veiculos" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-motorcycle fa-2x" aria-hidden="true"></i>
          <p>Motos</p>
        </button>

        <button routerLink="/produtos" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
          <p>Produtos</p>
        </button>


      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="btn-group" role="group">

        <button routerLink="/acessorios" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
          <p>Acessórios</p>
        </button>

        <button routerLink="/pecas" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-tags fa-2x" aria-hidden="true"></i>
          <p>Peças</p>
        </button>

        <button routerLink="/transacoes_comerciais" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i>
          <p>Transações Comerciais</p>
        </button>

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="btn-group" role="group">


        <button routerLink="/contas_pagar" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
          <p>Pagar</p>
        </button>

        <button routerLink="/servicos" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
          <p>Serviços</p>
        </button>

        <button routerLink="/contas_receber" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-usd  fa-2x" aria-hidden="true"></i>
          <p>Receber</p>
        </button>

      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="btn-group" role="group">

        <button routerLink="/pessoas/minha_conta" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
          <p>Minha Conta</p>
        </button>

        <button routerLink="/pessoas" class="btn" style="background-color: #6c757d; color: #fff;">
          <i class="fa fa-users fa-2x" aria-hidden="true"></i>
          <p>Pessoas</p>
        </button>

        <button routerLink="/fornecedores" class="btn" style="background-color: #fd7e14; color: #fff;">
          <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
          <p>Fornecedores</p>
        </button>

      </div>
    </div>
  </div>

</div>
