<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{ id ? 'Editando as permissões do grupo: ' : 'Cadastrar grupo' }}</li>
  <li class="breadcrumb-item active"><a routerLink="/pessoas/grupos/list" >Voltar para listagem</a></li>
</ol>
<div class="container">
<!--
  <form #grupoForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Grupo salvo/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>ID</label>
          <input type="text" [ngModel]="grupo.id" name="id" class="form-control" readonly="true" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome</label>
          <input type="text" [ngModel]="grupo.nome" name="nome" class="form-control"/>
        </div>
      </div>
    </div>
  -->
    <!--
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <div class="card-header">
          <h5 class="card-title">{{grupo.nome}}</h5>
          <h6 class="card-subtitle mb-2">Permissões do grupo</h6>
        </div>
        <span *ngIf="!grupo.permissoes[0]">Não há permissões para esse grupo</span>
        <table class="table">
          <tr *ngFor="let permissao of grupo.permissoes">
            <td>{{permissao.nome}}</td>
          </tr>
        </table>
      </div>
    </div>
  -->
<!--
  <div class="row">

    <div class="col-md-3">
      <button type="submit" class="btn btn-success"  *ngIf="!grupo.id">
        <i class="fa fa-save"></i> Salvar
      </button>

      <button type="submit" class="btn btn-primary" >
        <i class="fa fa-sync-alt"></i> Atualizar
      </button>

      <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
        <i class="fa fa-arrow-alt-circle-left"></i> Voltar
      </button>
    </div>
  </div>

</form>-->




   <div class="row">
      <div class="col-md-12">
        <div class="card text-white bg-info mb-3">
          <div class="card-body">
            <div class="card-header">
              <h6 class="card-title">Grupo: {{permissoesInput[0].grupoNome}}</h6>
              <h6 class="card-subtitle mb-2">Permissões do grupo</h6>
            </div>
            <table class="table">
              <tr *ngFor="let p of permissoesInput; let i=index">
                <td>
                  {{p.id}}
                </td>
                <td>
                  {{p.nome}}
                </td>
                <td>
                  <span *ngIf="p.pertence">
                Associada
                  </span>
                </td>
                <td>
                  <span *ngIf="p.pertence">
                    <button class="btn btn-danger btn-sm" type="button" (click)="desassociarPermissaoAoGrupo(p.id,i)"
                    placement="top" ngbTooltip="Desassociar">
                    <i class="fa fa-unlock"></i>
                  </button>
                  </span>
                  <span *ngIf="!p.pertence">
                    <button class="btn btn-success btn-sm" type="button" (click)="associarPermissaoAoGrupo(p.id,i)"
                    placement="top" ngbTooltip="Associar">
                    <i class="fa fa-lock"></i>
                  </button>
                  </span>
                </td>


              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>


</div>
