<br />

<div class="card mb-3">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Contas a Receber</h4>
    </div>
    <div class="btn-group" role="group">

      <button class="btn-sm btn-primary" routerLink="/financeiros">
        <i class="fa fa-arrow-left  fa-2x"></i> Financeiro
      </button>

      <button class="btn-sm btn-primary" routerLink="/caixas">
        <i class="fa fa-usd  fa-2x"></i> Caixas
      </button>

      <button class="btn-sm btn-primary" routerLink="/contas_pagar">
        <i class="fa fa-usd  fa-2x"></i> Contas a Pagar
      </button>

      <button class="btn-sm btn-primary" routerLink="/contas_receber">
        <i class="fa fa-usd  fa-2x"></i> Contas a Receber
      </button>

    </div>
  </div>

  <router-outlet></router-outlet>
