<!--
<h3 class="mt-4">Manutenções</h3>
<ul class="nav">

  <li class="nav-item">
    <button class="btn-sm btn-primary" routerLink="/manutencoes/list">
      <i class="fa fa-list-alt fa-2x"></i> Manutenções
    </button>
  </li>

  <li class="nav-item">
    <button class="btn-sm btn-primary" routerLink="/servicos-realizados/list">
      <i class="fa fa-cogs fa-2x"></i> Serviços Prestados
    </button>
  </li>

</ul>
<hr />
-->

<br />

<div class="card mb-3">
  <div class="card-body">

    <div class="card-header">
      <h4 class="card-title">Manutenções</h4>
    </div>

    <button class="btn-sm btn-primary" routerLink="/manutencoes/list">
      <i class="fa fa-list-alt fa-2x"></i> Manutenções
    </button>

    <button class="btn-sm btn-primary" routerLink="/servicos-realizados/list">
      <i class="fa fa-cogs fa-2x"></i> Serviços Prestados
    </button>

  </div>
</div>

<router-outlet></router-outlet>
